:root{
    --black:#000000;
    --white:#FFFFFF;
    --accent-color:#F62680;
}
@font-face {
    font-family: "theme-font";
    src: url('../assets/ArchivoBlack-Regular.ttf');
}
@font-face {
    font-family: "secondary-font";
    src: url('../assets/DidactGothic-Regular.ttf');
}

.about-container{
    background-color:var(--white) ;
    color: grey;
    font-family: "secondary-font";
  margin: 0px 50px 50px;
display: flex;
flex-direction: column;
justify-content: center;
min-height: 100dvh;
}

.about-main-heading, .about-second-heading, .about-content-title{
    color: var(--black);
}
.about-main-heading{
    font-family: "theme-font";   
}


@media screen and (max-width:667px){
    .about-main-heading{
        font-size: 25px;
    }
    .about-second-heading{
        font-size: 20px;
    }
    .about-container{
        margin: 20px 10px 0px;
    }
}
@media (min-width:180px) and (max-width:400px) {
    .about-main-heading{
        font-size: 20px;
    }
    .about-second-heading{
        font-size: 15px;
    }
    .about-container{
        margin: 10px 5px 0px;
    }

}