:root{
    --black:#000000;
    --white:#FFFFFF;
    --accent-color:#F62680;
}

/* Universal Styles */
html,body{
    margin: 0;
    width: 100%;
}

/* Home Section */
.home-container{
    display: flex;
    justify-content: center;
}
.home-section{
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--black);
    color: var(--white);
}
